@import "../../sass/variables";
.header {
  width: 100%;
  position: fixed;
  // height: 95%;
  // padding-top: 35vh;
  display: grid;
  grid-template-columns: 1fr 1fr minmax(min-content, 70rem) 5vw;
  grid-template-rows: 9rem max-content 1fr;
  z-index: 100;
  // transition: all 2s;
  @media only screen and (max-width: $bp-medium) {
    grid-template-columns: 5vw 1fr 1fr minmax(min-content, max-content) 5vw;
  }
  @media only screen and (max-height: $bp-small) {
    // grid-template-rows: 4rem max-content 1fr;
  }
  @media only screen and (max-height: $bp-smallest) {
    // grid-template-rows: 0rem max-content 1fr;
  }
}
.list__button {
  // grid-column: 4/-1;
  // background-color: rgba(240, 255, 255, 0.319);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 6rem;
  cursor: pointer;
  transition: all 0.2s ease-in;
  z-index: 222;
  right: 0;
  margin-top: 2rem;
  margin-right: 0.5rem;

  &_open &_ham {
    // transform: scale(0);
    background: transparent;
  }
  &_open &_ham::before {
    transform: rotate(45deg);
  }
  &_open &_ham::after {
    transform: rotate(-45deg);
  }
  @media only screen and (min-width: $bp-medium) {
    display: none;
  }
}

.list__button_ham {
  width: 3.5rem;
  height: 0.4rem;
  background-color: white;
  border-radius: 2px;
  transition: all 0.5s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 0.4rem;
    background-color: white;
    border-radius: 2px;
    transition: all 0.2s ease-in;
  }
  &::before {
    transform: translateY(-1.2rem);
  }
  &:after {
    transform: translateY(1.2rem);
  }
}

.container {
  margin: auto;
  grid-column: 3/4;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 5vw max-content 1fr max-content 5vw;
  grid-template-rows: 1rem 1fr max-content max-content;
  margin-top: calc(35vh - 9rem);
  background-color: #0000004f;
  box-shadow: 0 0 5px var(--color-primary);
  padding: 2rem 2rem 2rem 3rem;
  transition: all 0.2s;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 2/5;
  }
  &__active {
    // animation: fadein 1s;
    padding: 0rem;
    grid-column: 1/ -1;
    grid-row: 1/-1;
    width: 100%;
    margin: 0;
    background-color: rgb(0, 0, 0);
    align-items: center;
    box-shadow: 0 0 1rem var(--color-primary);
  }
}
.headingHome {
  position: relative;

  & span:first-child {
    animation: glitch 1s 5;
    animation-delay: 1s;
    // clip-path: polygon(0 13%, 100% 13%, 100% 13%, 0 13%);
    // transform: translateX(-1rem);
  }
  & span:last-child {
    animation: glitch 0.6s 5;
    animation-delay: 1s;
  }
}
.heading1 {
  font-size: 6rem;
  font-weight: 500;
  line-height: 1;
  grid-row: 2/3;
  grid-column: 1/-1;
  animation: popup 1s;
  animation-delay: 0.15s;
  animation-fill-mode: backwards;
  position: relative;
  // text-shadow: 0.3rem 0.15rem 0 rgba(200, 0, 0, 0.9),
  //   -0.3rem -0.15rem 0 rgba(0, 200, 0, 0.9),
  //   -0.15rem 0.3rem 0 rgba(0, 0, 200, 0.9);

  // animation: glitch 1s infinite;

  @media only screen and (max-width: $bp-smallest) {
    font-size: 5rem;
  }
  @media only screen and (max-width: $bp-micro) {
    font-size: 4rem;
  }
  & span {
  }
  & span:first-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    // clip-path: polygon(0 13%, 100% 13%, 100% 13%, 0 13%);
    // transform: translateX(-1rem);
  }
  & span:last-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }
  &__active {
    animation: none;
    grid-column: 2/3;
    font-size: 4rem;
  }

  @media only screen and (max-width: $bp-medium) {
    text-align: center;
    & span:first-child,
    & span:last-child {
      display: block;
      text-align: center;
      width: 100%;
    } 
  }
}

.heading2 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.8;
  grid-row: 3/4;
  grid-column: 1/-1;
  padding-top: 2rem;
  padding-bottom: 2rem;

  animation: heading2 0.5s;
  animation-delay: 1s;
  animation-fill-mode: backwards;

  @media only screen and (max-width: $bp-medium) {
    grid-column: 2/4;
  }
  @media only screen and (max-width: $bp-micro) {
    font-size: 2.2rem;
  }

  &__active {
    animation: none;
    display: none;
  }
  > span {
    font-style: italic;
    color: var(--color-primary);
  }
}
.container {
  ul,
  li,
  a {
    text-decoration: none;
    list-style: none;
  }
}

.listContainer {
  display: flex;
  flex-direction: row;
  grid-row: 4/5;
  grid-column: 1/-1;
  transition: all 0.2s;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }

  &__active {
    grid-column: 4/5;
    grid-row: 2/3;
  }

  &__open {
    position: fixed;
    display: block;
    background: #0b0b0b;
    flex-direction: column;
    top: 0;
    right: 0;
    z-index: 22;
    // width: 95%;
    // height: 95%;
    margin: 1rem 1rem;
    padding: 5rem;
    border-radius: 5px;
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 5px var(--color-grey);

    @media only screen and (min-width: $bp-medium) {
      display: flex;
      position: relative;
      flex-direction: row;
      grid-row: 4/5;
      grid-column: 1/-1;
      transition: all 0.2s;
      background: transparent;
      margin: 0;
      padding: 0;
      border-radius: 0;
      border: none;
      box-shadow: none;
    }

    .list {
      animation: none;
    }
  }
}
.list {
  height: fit-content;
  transition: all 0.2s;

  &__1 {
    animation: link 0.5s;
    animation-delay: 1.25s;
    animation-fill-mode: backwards;
  }
  &__2 {
    animation: link 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: backwards;
  }
  &__3 {
    animation: link 0.5s;
    animation-delay: 2.25s;
    animation-fill-mode: backwards;
  }
  &__4 {
    animation: link 0.5s;
    animation-delay: 2.75s;
    animation-fill-mode: backwards;
  }
  &__5 {
    animation: link 0.5s;
    animation-delay: 3.25s;
    animation-fill-mode: backwards;
  }
  &__active {
    animation: none;
  }
  @media only screen and (max-width: $bp-medium) {
    animation: none;
  }

  &:hover {
    transform: translateY(-1rem);
    color: var(--color-primary);
    background-color: #52525257;
  }
}
.link {
  font-family: "Caveat", cursive;
  font-size: 2rem;
  padding: 2rem;
  display: inline-block;
  color: inherit;
}
.LinkActive {
  color: var(--color-primary);
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  80% {
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes heading2 {
  0% {
    opacity: 0;
  }
  80% {
  }
  100% {
    opacity: 1;
  }
}

@keyframes link {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    background-color: #52525257;
    color: var(--color-primary);
  }
  80% {
    background-color: #52525257;
    color: var(--color-primary);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes glitch {
  0% {
    text-shadow: 0.3rem 0.15rem 0 rgba(200, 0, 0, 0.9),
      -0.3rem -0.15rem 0 rgba(0, 200, 0, 0.9),
      -0.15rem 0.3rem 0 rgba(0, 0, 200, 0.9);
    clip-path: polygon(0 13%, 100% 13%, 100% 33%, 0 33%);
    transform: translateX(-0.2rem);
  }

  14% {
    text-shadow: 0.3rem 0.15rem 0 rgba(200, 0, 0, 0.9),
      -0.3rem -0.15rem 0 rgba(0, 200, 0, 0.9),
      -0.15rem 0.3rem 0 rgba(0, 0, 200, 0.9);
    clip-path: polygon(0 13%, 100% 13%, 100% 33%, 0 33%);
    transform: translateX(-0.2rem);
  }
  15% {
    text-shadow: -0.15rem 0.3rem 0 rgba(200, 0, 0, 0.9),
      0.3rem 0.15rem 0 rgba(0, 200, 0, 0.9),
      -0.3rem -0.15rem 0 rgba(0, 0, 200, 0.9);
    clip-path: polygon(0 73%, 100% 73%, 100% 93%, 0 93%);
    transform: translateX(-0.2rem);
  }

  69% {
    text-shadow: -0.15rem 0.3rem 0 rgba(200, 0, 0, 0.9),
      0.3rem 0.15rem 0 rgba(0, 200, 0, 0.9),
      -0.3rem -0.15rem 0 rgba(0, 0, 200, 0.9);
    clip-path: polygon(0 73%, 100% 73%, 100% 93%, 0 93%);
    transform: translateX(-0.2rem);
  }
  70% {
    text-shadow: -0.3rem -0.15rem 0 rgba(200, 0, 0, 0.9),
      -0.15rem 0.3rem 0 rgba(0, 200, 0, 0.9),
      0.3rem 0.15rem 0 rgba(0, 0, 200, 0.9);
    clip-path: polygon(0 43%, 100% 43%, 100% 57%, 0 57%);
    transform: translateX(0.2rem);
  }

  99% {
    text-shadow: -0.3rem -0.15rem 0 rgba(200, 0, 0, 0.9),
      -0.15rem 0.3rem 0 rgba(0, 200, 0, 0.9),
      0.3rem 0.15rem 0 rgba(0, 0, 200, 0.9);
    clip-path: polygon(0 43%, 100% 43%, 100% 57%, 0 57%);
    transform: translateX(0.2rem);
  }
  100% {
    text-shadow: 0.3rem 0.15rem 0 rgba(200, 0, 0, 0.9),
      -0.3rem -0.15rem 0 rgba(0, 200, 0, 0.9),
      -0.15rem 0.3rem 0 rgba(0, 0, 200, 0.9);
    clip-path: polygon(0 13%, 100% 13%, 100% 33%, 0 33%);
    transform: translateX(-0.2rem);
  }
}
