.colorpalletContainer {
    position: fixed;
    bottom: 0;
    margin: 2rem;
    padding: 1rem 3rem;
    font-family: var(--font-quaternary);
    font-style: italic;
    letter-spacing: 1px;
    border-radius: 3px;
    font-size: 1.5rem;
    background: linear-gradient(45deg, var(--color-primary) , var(--color-primary-mild));
    box-shadow: 0rem 3px 5px black;
    
}
.colorpallet{
    font-weight: 600;
    cursor: pointer;
}
.color{
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid white;
}
.palletContainer{
    margin: 1rem 0rem;
    display: flex;
    gap: 1rem ;
    cursor: pointer;
    :hover{
        transform: scale(1.1);
    }
}
.palletBoxContainer{
    margin: 1rem;
}