.span {
  color: var(--color-primary);
  font-size: 2.2rem;
  font-family: "Caveat";
  font-variant: titling-caps;
  padding: 0 1rem;
}
.text {
  text-align: center;
  font-size: 1.75rem;
  font-variant: small-caps;
}
.container {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0.25rem 1.5rem;
  width: 100%;
  background-color: black;
  border-radius: 2px;
}
.icon {
  color: var(--color-primary);
  padding: 0 1rem;
  font-size: 2rem;
}
