.span {
  color: var(--color-primary);
  font-size: 2rem;
  font-family: "Caveat";
}
.text {
  font-size: 1.25rem;
}
.container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 4rem;
}
