$bp-largest: 75em; //1200px
$bp-large: 68.75em; //1100px
$bp-medium: 56.25em; //900px
$bp-medium-small: 46.875em; //750px
$bp-small: 40em; //640px
$bp-smallest: 31.25em; //500px
$bp-micro: 25em; //400px
$bp-nano: 21.875em; //350px
