@import "../../sass/variables";

.spaceAbove {
  margin-top: 1rem;
}

.resumeContainer {
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5rem;
  grid-row-gap: 2rem;

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: 1fr;
  }
}
.left {
  display: grid;
  grid-row-gap: 2rem;
}
.right {
  display: grid;
  grid-row-gap: 2rem;
}

.subText {
  padding-left: 10rem;
}

.summaryContent {
  font-family: var(--font-tertiary);
  font-size: 1.7rem;
  line-height: 2.5rem;
  font-weight: 400;
}
.I {
  font-style: italic;
}
.mtb {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.ul {
  text-decoration: underline;
}
.contentContainer {
  border-left: 2px solid var(--color-grey-dark);
  padding-left: 2rem;
  position: relative;
  min-height: 40px;

  &::before {
    content: "";
    height: 2rem;
    width: 2rem;
    display: block;
    position: absolute;
    left: -1.1rem;
    background-color: var(--color-primary);
    border-radius: 50%;
  }
}

.skillContainer {
  grid-column: 1/2;
}
.ExperienceContainer {
  grid-column: 2/3;
}

.timelineHead {
  color: var(--color-primary-light);
  font-size: 2rem;
  font-family: var(--font-quaternary);
  letter-spacing: 0.2px;
}
.period {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.6rem;
  font-family: var(--font-secondary);
  font-size: 2rem;
  background-color: #2e2e2e;
}
