@import "../../sass/variables";

.spaceAbove {
  margin-top: 1rem;
}
.container {
  display: grid;
  margin-top: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 35rem);
  grid-gap: 5rem;
  margin: 5rem 5rem;

  @media only screen and (max-width: $bp-largest) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 35rem);
  }
  @media only screen and (max-width: $bp-medium-small) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 35rem);
  }
  @media only screen and (max-width: $bp-smallest) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 35rem);
  }
}
.card {
  perspective: 600rem;
  // -moz-perspective: 600rem;
  position: relative;

  &__front {
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: all 0.5s;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 1rem var(--color-primary);
  }
  &__back {
    height: 100%;
    width: 100%;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    box-shadow: 0 0 1rem var(--color-primary);
    border-radius: 2px;
    background-color: rgba(49, 49, 49, 0.762);
    transition: all 0.5s;
  }
  &:hover {
    .card__front {
      transform: rotateY(180deg);
    }
    .card__back {
      transform: rotateY(0deg);
    }
  }
}
.certificateContainer {
  height: 100%;
  width: 100%;
  background-color: rgba(49, 49, 49, 0.762);
  display: grid;
  border-radius: 2px;

  .icon {
    font-size: 4rem;
    color: white;
  }
}
.iconContainer {
  transition: opacity 0.5s;
  padding: 2rem;
  margin: auto;
  background-color: var(--color-primary);
  backface-visibility: hidden;
  border-radius: 5px;
  position: relative;
  transform-style: preserve-3d;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   padding: 4rem;
  //   display: inline-block;
  //   background-color: #595959de;
  //   top: -1rem;
  //   left: -1rem;
  //   border-radius: 5px;
  //   transform: translateZ(-1px);
  // }
}
.bhead {
  font-size: 2.5rem;
  font-family: var(--font-primary);
  font-weight: 700;
  text-align: center;
  color: var(--color-grey);
}
.detailsContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.description {
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-primary);
  line-height: 4rem;
}
.at {
  text-align: center;
  font-size: 3rem;
  font-family: var(--font-secondary);
  letter-spacing: 2px;
}

.card {
  &:hover {
    .card__front {
      transform: rotateY(180deg);
    }
    .card__back {
      transform: rotateY(0deg);
    }
    .iconContainer {
      opacity: 0;
      // visibility: hidden;
    }
  }
}
